# Secrets secrets are no fun; but they're fun to keep iron-ically
**/iron-keep/**


# Temporary files
*.o
*.tmp
*.bak
*.bin
*.img
*.iso
*.vdi
*.vmdk

# Build files
temp/*
!temp/.gitkeep
!temp/bin/obj/.gitkeep
!temp/img/.gitkeep
!temp/iso/.gitkeep
!temp/vdi/.gitkeep
!temp/vmdk/.gitkeep
!temp/log/.gitkeep